In [63]:
%matplotlib inline
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime,timedelta
from matplotlib import pyplot as plt
from netCDF4 import Dataset

In [64]:
ds=Dataset(r'C:\Users\CHAITANYA AGRAWAL\OneDrive - IIT Delhi\Desktop\UNSW\SP_SST.nc')
url="https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_pacific_hurricane.csv"
df = pd.read_csv(url, sep=',',error_bad_lines=False)

C:\Users\CHAITANYA AGRAWAL\AppData\Local\Temp\ipykernel_11976\2504426050.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(url, sep=',',error_bad_lines=False)

In [65]:
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['sst']
ds['time']

<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1900-01-01 00:00:00.0
    long_name: time
    calendar: gregorian
unlimited dimensions:
current shape = (2040,)
filling on, default _FillValue of -2147483647 used

In [66]:
df['Time']=pd.to_datetime(df['Time'],format='%Y%m%d%H')

In [67]:
intial=1900010100
initial_date=pd.to_datetime(intial,format='%Y%m%d%H')
df["diff"]=df['Time']-initial_date

In [68]:
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00

In [69]:
df['total_1']=(df['diff']/timedelta(seconds=1))/3600
df['total_2']=(df['diff']/timedelta(seconds=1))/3600-720
df['sst_1']=""
df['sst_2_past_1_month']=""

In [70]:
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,total_2,sst_1,sst_2_past_1_month
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,718674.0,,
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,718680.0,,
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,718686.0,,
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,718692.0,,
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,718698.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,1045650.0,,
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,1045656.0,,
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,1045662.0,,
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,1045668.0,,
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,1045674.0,,

In [71]:
for index,row in df.iterrows():
    latitude=row['lat_tenth']
    longitude=row['lon_tenth']
    total_1=row['total_1']
    total_2=row['total_2']
    
    diff_lat=(lat-latitude)**2
    diff_lon=(lon-longitude)**2
    diff_time=(time-total_1)**2
    diff_time_2=(time-total_2)**2
    
    
    min_lat=diff_lat.argmin()
    min_lon= diff_lon.argmin()
    min_time=diff_time.argmin()
    min_time_2=diff_time_2.argmin()
    
    
    df.loc[index,'sst_1']=sst[min_time,0,min_lat,min_lon]
    df.loc[index,'sst_2_past_1_month']=sst[min_time_2,0,min_lat,min_lon]

In [72]:
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,total_2,sst_1,sst_2_past_1_month
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,718674.0,302.806534,302.743516
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,718680.0,302.752948,302.749518
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,718686.0,302.992158,302.993444
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,718692.0,302.756806,302.794531
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,718698.0,302.882841,302.756377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,1045650.0,302.877268,302.646632
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,1045656.0,302.877268,302.614051
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,1045662.0,302.94886,302.651347
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,1045668.0,302.942001,302.942001
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,1045674.0,302.928283,302.928283

In [74]:
df.to_csv("final.csv")