In [55]:
%matplotlib inline
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime,timedelta
from matplotlib import pyplot as plt
from netCDF4 import Dataset

In [56]:
ds=Dataset(r'C:\Users\CHAITANYA AGRAWAL\OneDrive - IIT Delhi\Desktop\UNSW\SI_SST.nc')
url_1="https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_indian_hurricane.csv"
df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)

C:\Users\CHAITANYA AGRAWAL\AppData\Local\Temp\ipykernel_17780\890296097.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)

In [57]:
df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['sst']

In [58]:
intial=1900010100
initial_date=pd.to_datetime(intial,format='%Y%m%d%H')
df_1["diff"]=df_1['Time']-initial_date
df_1['total_1']=(df_1['diff']/timedelta(seconds=1))/3600
df_1['sst_1']=""
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SI,1,1981-07-25 12:00:00,BEST,0,118S,867E,20,11.8,86.7,29790 days 12:00:00,714972.0,
1,SI,1,1981-07-25 18:00:00,BEST,0,116S,864E,25,11.6,86.4,29790 days 18:00:00,714978.0,
2,SI,1,1981-07-26 00:00:00,BEST,0,113S,862E,25,11.3,86.2,29791 days 00:00:00,714984.0,
3,SI,1,1981-07-26 06:00:00,BEST,0,109S,862E,25,10.9,86.2,29791 days 06:00:00,714990.0,
4,SI,1,1981-07-26 12:00:00,BEST,0,104S,861E,25,10.4,86.1,29791 days 12:00:00,714996.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24099,SI,27,2019-05-17 00:00:00,BEST,0,99S,1340E,25,9.9,134.0,43600 days 00:00:00,1046400.0,
24100,SI,27,2019-05-17 06:00:00,BEST,0,96S,1327E,20,9.6,132.7,43600 days 06:00:00,1046406.0,
24101,SI,27,2019-05-17 12:00:00,BEST,0,88S,1318E,20,8.8,131.8,43600 days 12:00:00,1046412.0,
24102,SI,27,2019-05-17 18:00:00,BEST,0,84S,1308E,20,8.4,130.8,43600 days 18:00:00,1046418.0,
24103,SI,27,2019-05-18 00:00:00,BEST,0,79S,1298E,15,7.9,129.8,43601 days 00:00:00,1046424.0,

In [59]:
for index,row in df_1.iterrows():
    latitude=row['lat_tenth']
    longitude=row['lon_tenth']
    total_1=row['total_1']

    
    diff_lat=(lat-latitude)**2
    diff_lon=(lon-longitude)**2
    diff_time=(time-total_1)**2

    
    min_lat=diff_lat.argmin()
    min_lon= diff_lon.argmin()
    min_time=diff_time.argmin()

    
    df_1.loc[index,'sst_1']=sst[min_time,0,min_lat,min_lon]

In [60]:
df_1.to_csv('Subs_SI.csv',index=False)
with open('Subs_SI.csv','r') as in_file, open('Output_SI.csv','w') as out_file:
  
    seen = set() 
    
    for line in in_file:
        if line in seen: 
          continue 

        seen.add(line)
        out_file.write(line)

In [65]:
df_1 = pd.read_csv('Output_SI.csv')
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SI,1,1981-07-25 12:00:00,BEST,0,118S,867E,20,11.8,86.7,29790 days 12:00:00,714972.0,301.4091228891241
1,SI,1,1981-07-25 18:00:00,BEST,0,116S,864E,25,11.6,86.4,29790 days 18:00:00,714978.0,301.4149389854456
2,SI,1,1981-07-26 00:00:00,BEST,0,113S,862E,25,11.3,86.2,29791 days 00:00:00,714984.0,301.41388151338714
3,SI,1,1981-07-26 06:00:00,BEST,0,109S,862E,25,10.9,86.2,29791 days 06:00:00,714990.0,301.41388151338714
4,SI,1,1981-07-26 12:00:00,BEST,0,104S,861E,25,10.4,86.1,29791 days 12:00:00,714996.0,301.41229530529944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20397,SI,27,2019-05-17 00:00:00,BEST,0,99S,1340E,25,9.9,134.0,43600 days 00:00:00,1046400.0,302.9382274856394
20398,SI,27,2019-05-17 06:00:00,BEST,0,96S,1327E,20,9.6,132.7,43600 days 06:00:00,1046406.0,302.87636537022024
20399,SI,27,2019-05-17 12:00:00,BEST,0,88S,1318E,20,8.8,131.8,43600 days 12:00:00,1046412.0,302.87425042610334
20400,SI,27,2019-05-17 18:00:00,BEST,0,84S,1308E,20,8.4,130.8,43600 days 18:00:00,1046418.0,--
20401,SI,27,2019-05-18 00:00:00,BEST,0,79S,1298E,15,7.9,129.8,43601 days 00:00:00,1046424.0,302.19376715649224

In [66]:
for index,row in df_1.iterrows():
        start=df_1['total_1'][index]
        for days in range(1,31):
            start=start-24*days

            latitude=df_1['lat_tenth'][index]
            longitude=df_1['lon_tenth'][index]

            diff_lat=(lat-latitude)**2
            diff_lon=(lon-longitude)**2
            diff_time=(time-start)**2


            min_lat=diff_lat.argmin()
            min_lon= diff_lon.argmin()
            min_time=diff_time.argmin()



            df_1.loc[index,days]=sst[min_time,0,min_lat,min_lon]

C:\Users\CHAITANYA AGRAWAL\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\internals\blocks.py:939: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

In [71]:
df_1 = df_1.reset_index(drop=True)

In [74]:
df_1.to_csv("South Indian.csv")